body{
    padding: 0;
    margin: 0;
    background-color: #000;
}
.menu{
    text-align: left;
}
.menu ul{
    display: inline-flex;
    list-style: none;
}
.menu ul li {
    margin: 25px
    position: relative;

}


.menu ul li a {
    padding: 15px;
    color: yellowgreen;
    font-size: 30px;
    text-decoration: none;
    text-decoration: underline overline #fff;
    text-shadow: 9px 9px 10px yellow;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    position: relative;
    border-bottom: 2px solid #fff;
    box-shadow: 3px 4px 6px yellow;
    text-indent: 50%;

}
.search {
    top: 24px;
    right: 20px;
    position: absolute;
    border: 2px solid yellow;
}

.search input {
    font-size: 25px;
    border: 1px solid #fff;
    margin: 8px;
    border-radius: 10px;
    padding: 8px;
}

.content h2{
    font-size: 60px;
    color: #fff;
    margin-left: 8%;
    margin-top: 4%;
    text-align: left;
}
.content b {
    color: yellow;
    font-size: 100px;

}
.content p {
    text-align: left;
    font-size: 20px; 
    margin-left: 60px;
    margin-top: 20px;
    color: #fff;

}
.photo {
    width: 70%;
    float: right;
}
.photo img {
    width: 80%;
    margin-top: -250px;
    margin-left: 50px;
    border-radius: 30%;
}
.font {
    right: 72px;
    bottom: 45px;
    position: absolute;
}
.font ul i{
    list-style: none;
    margin-top: 15px;
    text-align: center;


}
.font ul a i{
    font-size: 30px;
 color: #fff;
    border: 3px solid yellow;
    border-radius: 50%;
    display: block;
    text-decoration: none;
    padding: 10px;

}
.button {
    position: absolute;
    top: 80%;
    left: 15%;
    transform: translate(-50px,-50px);
}
.btn {
    border :3px solid yellow;
    padding:12px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;



}